@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
  url('../fonts/barlow-v5-latin-regular.woff') format('woff');
}


@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/barlow-v5-latin-700.woff2') format('woff2'),
  url('../fonts/barlow-v5-latin-700.woff') format('woff');
}


@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v10-latin-900.eot');
  src: local(''),
  url('../fonts/fraunces-v10-latin-900.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
  url('../fonts/fraunces-v10-latin-900.woff') format('woff'),
  url('../fonts/fraunces-v10-latin-900.ttf') format('truetype'),
  url('../fonts/fraunces-v10-latin-900.svg#Fraunces') format('svg');
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Barlow', sans-serif;
  background-color: #FFFFFD;
}

h1,h2,h3,h4,h5,h6,ul,ol,p{
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container{
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-inner{
  display: flex;
  padding: 45px 0;
}

.header-inner__navbar{
  margin-left: auto;
}

.nav__list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item{
  margin-left: 33px;
}

.nav__link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
  transition: all 0.4s ease;
}

.nav__link:hover{
  color: #333D4B;
}

.hero-inner{
  display: flex;
  align-items: center;
  width: 1280px;
  height: 600px;
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-size: 1280px 600px;
  border-radius: 15px;
}

.hero-info{
  width: 493px;
  margin-left: 75px;
}

.hero-info__title{
  font-family: 'Fraunces' , 'Arial' sans-serif;
  margin-top: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.hero-info__text{
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 32px 0 56px;
}

.btn{
  font-family: 'Fraunces' , 'Arial' sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  padding: 15px 30px;
  background-color: #0E8784;
  border-radius: 6px;
  color: #FEFCF7;
  text-align: center;
  transition: all 0.4s ease;
}

.btn:hover{
  background-color: #66D2CF;
}

/* Section "Our-collection" */

.collection{
  padding-top: 200px;
  background-image: url(../images/collection-bgi.svg);
  background-repeat: no-repeat;
  background-position: calc(50%) 50px;
}

.collection__list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 188px;
}

.collection__item{
  width: 255px;
}

.collection__img{
  width: 255px;
  height: 193px;
}

.collection__title{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  margin-bottom: 24px;
}

.collection__text{
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.choose{
  height: 574px;
  background-color: #293039;
  padding-top: 112px;
  border-radius: 8px;
}

.choose__title{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}

.choose__text__box{
  width: 540px;
  margin: 0 auto;
}

.choose__text{
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
  margin-top: 32px;
  margin-bottom: 86px;
}

.choose__list{
  list-style: none;
  padding: 0 8px;
  display: flex;
  justify-content: space-evenly;
}

.choose__item{
  width: 350px;
  background: #0E8784;
  border-radius: 8px;
  padding: 72px 48px 48px 48px;
  z-index: 1;
}

.choose__img{
  display: block;
  margin: 0 auto;
}

.choose__inner__title{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  margin: 56px 0 24px;
}

.choose__inner__text{
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

.how-it-works{
  margin-top: 300px;
  margin-left: 100px;
}

.how-it-works__title{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 95px;
}

.line{
  width: 760px;
  height: 1px;
  border: 2px solid #FDD6BA;
  position: relative;
  margin-bottom: 82px;
}

.line__circle{
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 0;
}

.line__circle:nth-child(2){
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 50%;
}

.line__circle:nth-child(3){
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 100%;
}

.steps{
  display: flex;
  list-style: none;
  margin-bottom: 64px;
}

.steps__item{
  width: 285px;
  margin-right: 95px;
}

.steps__number{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.steps__title{
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-top: 38px;
  margin-bottom: 42px;
}

.steps__text{
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  background-color: #2C343E;
  padding: 50px 85px;
  margin-bottom: 88px;
}

.footer-inner{
  display: flex;
  align-items: center;
}

.footer-inner__logo{
  display: block;
  margin-right: 100px;
}

.footer__link:hover{
  color: #FEFCF7;
}

.footer__list{
  display: flex;
  list-style: none;
}

.footer__item{
  margin-right: 24px;
}

.footer__icon{
  transition: all 0.4s ease;
  fill: #FEFCF7;
}

.footer__icon:hover{
  fill: #FDD6BA;
}
